
<div class="container">
    <h1>Lists</h1>
  <div class="cards">
    <%# <p class="card-text">Blabla overview.</p> %>
    <% @lists.each do |l| %>
    <div class="card-category">
    <%= link_to l.name, list_path(l) %>
    <%= link_to "Create list", new_list_path, class: "btn btn-light" %>
    </div>
    <% end %>
  </div>
</div>
