
<div class="container">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">

  <div class="card-body">
    <h1>Lists</h1>
    <p class="card-text">Blabla overview.</p>
    <% @lists.each do |l| %>
    <ul><h5 class="card-title"><%= link_to l.name, list_path(l) %></h5></ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <% end %>
  </div>
</div>
</div>
