
<div class="container">
  <h1><%= @list.name %></h1>
  <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, height: 300, width: 400 %>
  <% end %>
  <% @list.bookmarks.each do |b| %>
    <div class="card-product">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Back-to-the-future-logo.svg/1200px-Back-to-the-future-logo.svg.png" height: 300, width: 400, >
      <div class="card-product-infos">
        <h2><%= b.movie.title %></h2>
        <p><%= b.movie.rating %></p>
        <br>

      </div>

    </div>
  <% end %>
</div>
